@model PlanillaPM.Models.EmpleadoIngreso

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="alert alert-danger alert-dismissible">
       
        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
        ¿Estás seguro de que quieres eliminar esto?
    </div>
     <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Empleado Ingreso</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">   
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Monto)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Monto)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Formula)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Formula)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Orden)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Orden)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaModificacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaModificacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ModificadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdEmpleadoNavigation.NombreCompleto)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdIngresoNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdIngresoNavigation.NombreIngreso)
                        </dd>
                </div>
            </div>
        </div>
         <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdEmpleadoIngreso" />
                <input type="hidden" name="numero" value="@ViewBag.Numero" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a onclick="goBack()" class="btn btn-secondary">Regresar a la Lista</a>
            </form>
          </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function goBack() {
                // Obtener la URL actual
                var currentUrl = window.location.href;

                // Verificar si la URL contiene "_index"
                if (currentUrl.includes("_index")) {
                    // Estás en la página _index, puedes hacer algo específico aquí
                    console.log("Estás en la página _index");
                    // Por ejemplo, redirigir a otra página
                    window.location.href = "/otra-pagina";
                } else {
                    // No estás en la página _index, retrocede en la historia
                    history.back();
                }
            }
        </script>
    }
}