@model PlanillaPM.Models.Nomina

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="alert alert-danger alert-dismissible">
       
        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
        ¿Estás seguro de que quieres eliminar esto?
    </div>
     <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Nomina</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">   
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Comentarios)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Comentarios)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.PeriodoFiscal)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.PeriodoFiscal)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Mes)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Mes)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaPago)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaPago)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalIngresos)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TotalIngresos)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalDeducciones)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TotalDeducciones)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalImpuestos)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TotalImpuestos)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalEmpleadosEnNomina)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TotalEmpleadosEnNomina)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.PagoNeto)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.PagoNeto)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.EstadoNomina)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.EstadoNomina)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.AprobadaPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.AprobadaPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ComentariosAprobador)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ComentariosAprobador)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaModificacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaModificacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ModificadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdTipoNominaNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.IdTipoNominaNavigation.NombreTipoNomina)
                        </dd>
                </div>
            </div>
        </div>
         <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdNomina" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index"  class="btn btn-secondary">Regresar a la Lista</a>
            </form>
          </div>
    </div>
</div>
</div>
