@model PlanillaPM.Models.Nomina

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Nomina</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div class="form-group row">
                       </div> 
                        <div class="form-group row">
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Comentarios)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Comentarios)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.PeriodoFiscal)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.PeriodoFiscal)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Mes)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Mes)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaPago)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaPago)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.TotalIngresos)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.TotalIngresos)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.TotalDeducciones)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.TotalDeducciones)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.TotalImpuestos)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.TotalImpuestos)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.TotalEmpleadosEnNomina)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.TotalEmpleadosEnNomina)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.PagoNeto)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.PagoNeto)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.EstadoNomina)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.EstadoNomina)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.AprobadaPor)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.AprobadaPor)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.ComentariosAprobador)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.ComentariosAprobador)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Activo)</label>
                                </div>
                                <div class="col-md-8">
                                         @Html.DisplayFor(model => model.Activo)
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaCreacion)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaCreacion)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaModificacion)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaModificacion)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.CreadoPor)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.CreadoPor)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.ModificadoPor)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.ModificadoPor)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                       </div> 
                        <div class="form-group row">
                            <div class="col-md-2">
                                 <label class="control-label">@Html.DisplayNameFor(model => model.IdTipoNominaNavigation)</label>
                             </div>
                             <div class="col-md-8">
                                 <input type="text" class="form-control" value="@Html.DisplayFor(model => model.IdTipoNominaNavigation.NombreTipoNomina)" disabled/>
                             </div>
                       </div> 
                        <div class="form-group row">
                       </div> 
                </div>
            </div>
        </div>
         <div class="card-footer">
             <a asp-action="Edit" asp-route-id="@Model.IdNomina" type="submit" class="btn btn-primary" style="background-color: var(--blue);">Editar</a>
             <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
          </div>
    </div>
</div>

