@model PlanillaPM.Models.Horario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Horario</h3>
        </div>
        <form asp-action="Create">
            <div class="card-body">
                <div class="callout callout-info" style="border-left-color: var(--blue);">
                    <h5>Información General</h5>
                    <br />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="NombreHorario" class="control-label"></label>
                                <input asp-for="NombreHorario" class="form-control" required/>
                                <span asp-validation-for="NombreHorario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="IdTipoHorario" class="control-label"></label>
                                <select asp-for="IdTipoHorario" class="form-control select2bs4 is-invalid" asp-items="ViewBag.IdTipoHorario">
                                    <option></option>
                                </select>
                                <span asp-validation-for="IdTipoHorario" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Defina el horario de trabajo</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Seleccione los días laborales.
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Hora de Inicio</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Hora de Final</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndLunes" onchange="sumarHoras();" checked asp-for="IndLunes" /> @Html.DisplayNameFor(model => model.IndLunes)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="LunDesde" id="LunDesde" asp-for="LunDesde" onchange="sumarHoras();" value="08:00" class="form-control" />
                                                <span asp-validation-for="LunDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="LunHasta" id="LunHasta" asp-for="LunHasta" onchange="sumarHoras();" value="16:00" class="form-control" />
                                                <span asp-validation-for="LunHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndMartes" onchange="sumarHoras();" checked asp-for="IndMartes" /> @Html.DisplayNameFor(model => model.IndMartes)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="MarDesde" onchange="sumarHoras();" asp-for="MarDesde" value="08:00" class="form-control" />
                                                <span asp-validation-for="MarDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="MarHasta" onchange="sumarHoras();" asp-for="MarHasta" value="16:00" class="form-control" />
                                                <span asp-validation-for="MarHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndMiercoles" onchange="sumarHoras();" checked asp-for="IndMiercoles" /> @Html.DisplayNameFor(model => model.IndMiercoles)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="MieDesde" onchange="sumarHoras();" asp-for="MieDesde" value="08:00" class="form-control" />
                                                <span asp-validation-for="MieDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="MieHasta" onchange="sumarHoras();" asp-for="MieHasta" value="16:00" class="form-control" />
                                                <span asp-validation-for="MieHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndJueves" onchange="sumarHoras();" checked asp-for="IndJueves" /> @Html.DisplayNameFor(model => model.IndJueves)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="JueDesde" onchange="sumarHoras();" asp-for="JueDesde" value="08:00" class="form-control" />
                                                <span asp-validation-for="JueDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="JueHasta" onchange="sumarHoras();" asp-for="JueHasta" value="16:00" class="form-control" />
                                                <span asp-validation-for="JueHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndViernes" onchange="sumarHoras();" checked asp-for="IndViernes" /> @Html.DisplayNameFor(model => model.IndViernes)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="VieDesde" onchange="sumarHoras();" asp-for="VieDesde" value="08:00" class="form-control" />
                                                <span asp-validation-for="VieDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="VieHasta" onchange="sumarHoras();" asp-for="VieHasta" value="16:00" class="form-control" />
                                                <span asp-validation-for="VieHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndSabado" onchange="sumarHoras();" asp-for="IndSabado" /> @Html.DisplayNameFor(model => model.IndSabado)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="SabDesde" onchange="sumarHoras();" asp-for="SabDesde" value="08:00" class="form-control" />
                                                <span asp-validation-for="SabDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="SabHasta" onchange="sumarHoras();" asp-for="SabHasta" value="12:00" class="form-control" />
                                                <span asp-validation-for="SabHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-check form-switch ml-5">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" id="IndDomingo" onchange="sumarHoras();" asp-for="IndDomingo" /> @Html.DisplayNameFor(model => model.IndDomingo)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group ">
                                                <input type="time" id="DomDesde" onchange="sumarHoras();" asp-for="DomDesde" value="08:00" class="form-control" />
                                                <span asp-validation-for="DomDesde" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <input type="time" id="DomHasta" onchange="sumarHoras();" asp-for="DomHasta" value="12:00" class="form-control" />
                                                <span asp-validation-for="DomHasta" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="card card-warning px-0">
                                    <div class="card-header">
                                        <h3 class="card-title">Defina el horario de la comida</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Indique si se hace pausa para comer.
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Hora de Inicio</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label class="control-label">Hora de Final</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-check form-switch ml-5">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" id="IndComida" onchange="sumarHoras();" checked asp-for="IndComida" /> @Html.DisplayNameFor(model => model.IndComida)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group ">
                                                    <input type="time" id="ComidaDesde" onchange="sumarHoras();" asp-for=" ComidaDesde" value="12:00" class="form-control" />
                                                    <span asp-validation-for="ComidaDesde" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <input type="time" id="ComidaHasta" onchange="sumarHoras();" asp-for="ComidaHasta" value="13:00" class="form-control" />
                                                    <span asp-validation-for="ComidaHasta" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <p>Total de Horas por Semana</p>
                                        <h3 id="labelTotalHoras">43:00</h3>
                                        <input type="text" hidden asp-for="TotalHorasSemana" value="43:00" class="form-control" />
                                    </div>
                                    <div class="icon">
                                        <i class="fa-solid fa-clock"></i>
                                    </div>
                                    <a class="small-box-footer">Resumen</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
                <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
            </div>
        </form>
    </div>
</div>



<script type="text/javascript">
    // Funcion para sumar todas las horas laborales en el formulario actual
    //     La hora se suma si en campo de Indicador IndLun, mar, mier, etc esta marcado con true, ademas se debe reducir la hora indicada de comida por cada dia marcado y
    //     llamar a esta funcion cada vez que cambia un control en el onchance para mantener la suna en tiempo real
    function ValidateTime(timeFrom, timeTo) {
        if (timeFrom > timeTo) {
            alert("La hora de inicio no puede ser mayor a la hora de finalización");
            document.getElementById(timeTo).value = "";
        }
    }
    function sumarHoras() {
        var indlun = document.getElementById("IndLunes").checked;
        var indmar = document.getElementById("IndMartes").checked;
        var indmie = document.getElementById("IndMiercoles").checked;
        var indjue = document.getElementById("IndJueves").checked;
        var indvie = document.getElementById("IndViernes").checked;
        var indsab = document.getElementById("IndSabado").checked;
        var inddom = document.getElementById("IndDomingo").checked;

        var lunDesde = document.getElementById("LunDesde").value;
        var lunHasta = document.getElementById("LunHasta").value;
        var marDesde = document.getElementById("MarDesde").value;
        var marHasta = document.getElementById("MarHasta").value;
        var mieDesde = document.getElementById("MieDesde").value;
        var mieHasta = document.getElementById("MieHasta").value;
        var jueDesde = document.getElementById("JueDesde").value;
        var jueHasta = document.getElementById("JueHasta").value;
        var vieDesde = document.getElementById("VieDesde").value;
        var vieHasta = document.getElementById("VieHasta").value;
        var sabDesde = document.getElementById("SabDesde").value;
        var sabHasta = document.getElementById("SabHasta").value;
        var domDesde = document.getElementById("DomDesde").value;
        var domHasta = document.getElementById("DomHasta").value;

        var indComida = document.getElementById("IndComida").checked;
        var comidaDesde = document.getElementById("ComidaDesde").value;
        var comidaHasta = document.getElementById("ComidaHasta").value;

        var lun = indlun ? convertirHorasAMinutos(calcularHoras(lunDesde, lunHasta)) : 0;
        var mar = indmar ? convertirHorasAMinutos(calcularHoras(marDesde, marHasta)) : 0;
        var mie = indmie ? convertirHorasAMinutos(calcularHoras(mieDesde, mieHasta)) : 0;
        var jue = indjue ? convertirHorasAMinutos(calcularHoras(jueDesde, jueHasta)) : 0;
        var vie = indvie ? convertirHorasAMinutos(calcularHoras(vieDesde, vieHasta)) : 0;
        var sab = indsab ? convertirHorasAMinutos(calcularHoras(sabDesde, sabHasta)) : 0;
        var dom = inddom ? convertirHorasAMinutos(calcularHoras(domDesde, domHasta)) : 0;

        var comida = indComida ? convertirHorasAMinutos(calcularHoras(comidaDesde, comidaHasta)) : 0;

        var itotaldiastrab = indlun + indmar + indmie + indjue + indvie + indsab + inddom;

        var totalhorascomida = comida * itotaldiastrab;
        var total = (lun + mar + mie + jue + vie + sab + dom) - totalhorascomida;
        document.getElementById("TotalHorasSemana").value = convertirMinutosAHoras(total);
        document.getElementById("labelTotalHoras").innerHTML = convertirMinutosAHoras(total);
    }
    // funcion para convertir un formato de horas y minutos a un valor decimal.
    function convertirHorasAMinutos(horas) {
        var partes = horas.split(':');
        var horasEnMinutos = parseInt(partes[0]) * 60;
        var minutos = parseInt(partes[1]);
        var totalMinutos = horasEnMinutos + minutos;
        return totalMinutos;
    }
    //funcion convierte minutos a total de HH:MM pero la devuelve en forato string
    function convertirMinutosAHoras(minutos) {
        var horas = Math.floor(minutos / 60);
        var minutos = minutos % 60;
        horas = horas < 10 ? '0' + horas : horas;
        minutos = minutos < 10 ? '0' + minutos : minutos;

        return horas + ":" + minutos;
    }


    function calcularHoras(desde, hasta) {
        var desde = new Date("01/01/2021 " + desde);
        var hasta = new Date("01/01/2021 " + hasta);

        var diff = hasta - desde;
        var hours = Math.floor(diff / 1000 / 60 / 60);
        var minutes = Math.floor(diff / 1000 / 60) - (hours * 60);

        return hours + ":" + minutes;
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
