@model PlanillaPM.Models.Horario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="alert alert-danger alert-dismissible">
       
        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
        ¿Estás seguro de que quieres eliminar esto?
    </div>
     <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Horario</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">   
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.NombreHorario)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.NombreHorario)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TurnoNumero)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TurnoNumero)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndLunes)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndLunes)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndMartes)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndMartes)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndMiercoles)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndMiercoles)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndJueves)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndJueves)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndViernes)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndViernes)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndSabado)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndSabado)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndDomingo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndDomingo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.LunDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.LunDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.LunHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.LunHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.MarDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.MarDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.MarHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.MarHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.MieDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.MieDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.MieHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.MieHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.JueDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.JueDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.JueHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.JueHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.VieDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.VieDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.VieHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.VieHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.SabDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.SabDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.SabHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.SabHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.DomDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.DomDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.DomHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.DomHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IndComida)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IndComida)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ComidaDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ComidaDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ComidaHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ComidaHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.TotalHorasSemana)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.TotalHorasSemana)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaModificacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaModificacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ModificadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdTipoHorarioNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdTipoHorarioNavigation.IdTipoHorario)
                        </dd>
                </div>
            </div>
        </div>
         <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdHorario" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index"  class="btn btn-secondary">Regresar a la Lista</a>
            </form>
          </div>
    </div>
</div>
</div>
