@model PlanillaPM.Models.PermissionViewModel
@using PlanillaPM.Models;

@{
    var ventanas = ViewBag.Ventanas as List<Ventana>;
}

<div class="container-fluid">
    <div>
        <label for="cmbRoles">Seleccione un rol:</label>
        <select id="cmbRoles" name="cmbRoles" class="form-control">
            @foreach (var role in Model.Roles)
            {
                <option value="@role.RoleId" selected="@(role.RoleId == Model.RoleId ? "selected" : null)">@role.RoleName</option>
            }
        </select>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header" style="background-color: var(--blue);">
                                <h3 class="card-title">Asignar y Remover Permisos de @Model.RoleName</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-vertical">
                                                <div class="row">
                                                    <div class="row m-1">
                                                        <div class="form-group">
                                                            <form asp-controller="permission" method="post" asp-action="Update" class="d-inline">
                                                                <input asp-for="RoleId" type="hidden" />
                                                                <input type="hidden" asp-for="RoleName" />
                                                                <table class="table table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Rol</th>
                                                                            <th>Ventana</th>
                                                                            <th>Vew</th>
                                                                            <th>Crear</th>
                                                                            <th>Editar</th>
                                                                            <th>Eliminar</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var rolePermission in Model.AssignedPermissions.Concat(Model.UnassignedPermissions).GroupBy(p => p.Type))
                                                                        {
                                                                            <tr>
                                                                                <td>@rolePermission.Key</td>
                                                                                <td></td>
                                                                                <td>
                                                                                    <div class="form-check">
                                                                                        <input type="checkbox" class="form-check-input permission-checkbox" data-permission="Create" data-role="@rolePermission.Key" @if (rolePermission.Any(p => p.Value == "Create" && p.Selected))
                                                                                        {
                                                                                            <text>checked</text>
                                                                                        } />
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-check">
                                                                                        <input type="checkbox" class="form-check-input permission-checkbox" data-permission="View" data-role="@rolePermission.Key" @if (rolePermission.Any(p => p.Value == "View" && p.Selected))
                                                                                        {
                                                                                            <text>checked</text>
                                                                                        } />
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-check">
                                                                                        <input type="checkbox" class="form-check-input permission-checkbox" data-permission="Edit" data-role="@rolePermission.Key" @if (rolePermission.Any(p => p.Value == "Edit" && p.Selected))
                                                                                        {
                                                                                            <text>checked</text>
                                                                                        } />
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-check">
                                                                                        <input type="checkbox" class="form-check-input permission-checkbox" data-permission="Delete" data-role="@rolePermission.Key" @if (rolePermission.Any(p => p.Value == "Delete" && p.Selected))
                                                                                        {
                                                                                            <text>checked</text>
                                                                                        } />
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>

                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header" style="background-color: var(--blue);">
                                <h3 class="card-title">Accesos</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-vertical">
                                                <div class="row">
                                                    <div class="row m-1">
                                                        <div class="form-group">
                                                            <form asp-controller="Permission" asp-action="AssignVentanas" method="post" id="roleForm">
                                                                <input type="hidden" name="roleId" value="@Model.RoleId" />
                                                                <div class="form-group">
                                                                    <label for="cmbVentanas">Seleccione una o varias ventanas:</label>
                                                                    <div class="select2-blue">
                                                                        <select id="cmbVentanas" name="ventanaIds" class="select2" multiple="multiple" data-placeholder="Select a State" data-dropdown-css-class="select2-blue" style="width: 100%;">
                                                                            @foreach (var ventana in ViewBag.Ventanas)
                                                                            {
                                                                                <option value="@ventana.Id" selected="@ViewBag.VentanasAsignadas.Contains(ventana.Id)">
                                                                                    @ventana.Nombre
                                                                                </option>


                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                                            </form>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('.permission-checkbox').change(function () {
                var isChecked = $(this).is(':checked');
                var permission = $(this).data('permission');
                var roleId = $('input[name="RoleId"]').val();
                var roleName = $('input[name="RoleName"]').val();

                if (isChecked) {
                    $.ajax({
                        url: '@Url.Action("Update", "permission")',
                        method: 'POST',
                        data: {
                            RoleId: roleId,
                            RoleName: roleName,
                            UnassignedPermissions: [{
                                Type: roleName,
                                Value: permission,
                                Selected: true
                            }]
                        },
                        success: function () {
                            toastr.success(`Permiso ${permission} asignado al rol ${roleName}`);
                        },
                        error: function () {
                            toastr.error(`Error al asignar el permiso ${permission} al rol ${roleName}`);
                        }
                    });
                } else {
                    $.ajax({
                        url: '@Url.Action("RemovePermissions", "permission")',
                        method: 'POST',
                        data: {
                            RoleId: roleId,
                            RoleName: roleName,
                            AssignedPermissions: [{
                                Type: roleName,
                                Value: permission,
                                Selected: false
                            }]
                        },
                        success: function () {

                            toastr.warning(`Permiso ${permission} Removido al rol ${roleName}`);
                        },
                        error: function () {

                            toastr.error(`Error al Remover el permiso ${permission} al rol ${roleName}`);
                        }
                    });
                }
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            const cmbRoles = document.getElementById('cmbRoles');

            cmbRoles.addEventListener('change', function () {
                var selectedRoleId = cmbRoles.value;
                if (selectedRoleId) {
                    window.location.href = '@Url.Action("GetPermissions", "Permission")' + '?selectedRoleId=' + selectedRoleId;
                }
            });
        });



    </script>
}