@model PlanillaPM.Models.PermissionViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header" style="background-color: var(--blue);">
                                <h3 class="card-title">Permisos</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-vertical">
                                                <div class="row">
                                                    <div class="row m-1">
                                                        <div class="form-group">
                                                            <form asp-controller="permission" method="post" asp-action="Update" class="d-inline">
                                                                <input asp-for="@Model.RoleId" type="hidden" />
                                                                <h4>Asignar Permisos</h4>
                                                                <table class="table table-striped" id="permissionTable">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>
                                                                                Permission
                                                                            </th>
                                                                            <th>
                                                                                Status
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @for (int i = 0; i < Model.UnassignedPermissions.Count(); i++)
                                                                        {
                                                                            <tr>

                                                                                <td>
                                                                                    <input asp-for="@Model.UnassignedPermissions[i].Value" type="hidden" />
                                                                                    @Model.UnassignedPermissions[i].Value
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-check m-1">
                                                                                        <input asp-for="@Model.UnassignedPermissions[i].Selected" class="form-check-input" />
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }


                                                                    </tbody>
                                                                </table>

                                                                <div class="col-sm-12" >
                                                                    <button style="background-color: var(--blue);" type="submit"  class="btn btn-success">
                                                                       
                                                                        Guardar
                                                                    </button>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header" style="background-color: var(--blue);">
                                <h3 class="card-title">Permisos</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="form-vertical">
                                                <div class="row">
                                                    <div class="row m-1">
                                                        <div class="form-group">
                                                            <form asp-controller="permission" method="post" asp-action="RemovePermissions" class="d-inline">
                                                                <input asp-for="@Model.RoleId" type="hidden" />
                                                                @* <input type="hidden" name="action" value="RemovePermissions" /> *@
                                                                <h4>Quitar Permisos</h4>
                                                                <table class="table table-striped" id="permissionTable">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>
                                                                                Permission
                                                                            </th>
                                                                            <th>
                                                                                Status
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                        @for (int i = 0; i < Model.RoleClaims.Count(); i++)
                                                                        {

                                                                            <tr>
                                                                                <td>
                                                                                    <input asp-for="@Model.RoleClaims[i].Value" type="hidden" />
                                                                                    @Model.RoleClaims[i].Value
                                                                                </td>
                                                                                <td>
                                                                                    <div class="form-check m-1">
                                                                                        <input asp-for="@Model.RoleClaims[i].Selected" class="form-check-input" />
                                                                                    </div>
                                                                                </td>
                                                                            </tr>

                                                                        }

                                                                    </tbody>
                                                                </table>

                                                                <div class="col-sm-12" >
                                                                    <button style="background-color: var(--blue);" type="submit" id="save" class="btn btn-success">
                                                                        
                                                                        Guardar
                                                                    </button>
                                                                </div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>



