@model PlanillaPM.Models.CuentaPorCobrar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="alert alert-danger alert-dismissible">
       
        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
        ¿Estás seguro de que quieres eliminar esto?
    </div>
     <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Cuenta Por Cobrar</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">   
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaInicio)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaInicio)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Monto)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Monto)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.InteresAplicado)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.InteresAplicado)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.NumeroPagos)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.NumeroPagos)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaFinalizacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaFinalizacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.EstadoCuentaPorCobrar)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.EstadoCuentaPorCobrar)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.EstadoAprobacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.EstadoAprobacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.AprobadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.AprobadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ComentarioAprobacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ComentarioAprobacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaModificacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaModificacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ModificadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdDeduccionNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdDeduccionNavigation.NombreDeduccion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IdEmpleadoNavigation.NombreCompleto)
                        </dd>
                </div>
            </div>
        </div>
         <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdCuentaPorCobrar" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a asp-action="Index"  class="btn btn-secondary">Regresar a la Lista</a>
            </form>
          </div>
    </div>
</div>
</div>
