@model PlanillaPM.Models.EmpleadoExperiencium

@{
    ViewData["Title"] = "Delete";
}
<div class="container-fluid">

    <div class="alert alert-danger alert-dismissible">
       
        <h5><i class="icon fas fa-ban"></i> Alerta!</h5>
        ¿Estás seguro de que quieres eliminar esto?
    </div>
     <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Empleado Experiencia</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">  
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Activo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Activo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Empresa)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Empresa)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Cargo)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Cargo)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaDesde)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaDesde)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaHasta)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaHasta)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Descripcion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaCreacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.FechaModificacion)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.FechaModificacion)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.CreadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.CreadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.ModificadoPor)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.ModificadoPor)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                        </dt>
                        <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.IdEmpleadoNavigation.NombreCompleto)
                        </dd>
                </div>
            </div>
        </div>
         <div class="card-footer">
            <form asp-action="Delete">
                <input type="hidden" asp-for="IdEmpleadoExperiencia" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a onclick="history.back();" class="btn btn-secondary">Regresar a la Lista</a>
            </form>
          </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            var $table = $('#table');
            document.addEventListener('DOMContentLoaded', function () {
                var error = '@Html.Raw(TempData["Error"])';
                if (error) {
                    toastr.error(error);
                }
            });
        </script>
    }
}