@model IEnumerable<PlanillaPM.Models.EmpleadoActivo>

@using PlanillaPM.Models;


@{
    ViewData["Title"] = "_EmpleadoActivoIndex";
    Pager pager = new Pager();
    int PageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        PageNo = pager.CurrentPage;
    }
    
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="">
                <div class="card-header" >
                    <h3 class="card-title">EmpleadoActivo</h3>
                    <div class="card-tools">
                        
                    </div>
                </div>
                <input type="hidden" id="hiddenEmpleadoId" value="@ViewBag.CurrentIdEmpleado" />
                <div class="card-body">
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-vertical">
                                    <div class="row m-1">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <form method="get" asp-controller="EmpleadoActivo" asp-action="Index">
                                                    <div class="row">
                                                        <div class="col-sm-6 btn-group btn-group-justified" role="group">
                                                        @* <input type="text" style="width: 300px;" id="inNombreEmpleado" class="form-control" name="filter" placeholder="Buscar...">
                                                        <button id="btnBuscar" class="btn" style="background-color: var(--blue)" onclick="Buscar('LoadEmpleado','inNombreEmpleado');"><i class="fa fa-search" style="color: white;"></i></button> *@
                                                            <input type="text" id="filterInputActivo" class="form-control" placeholder="Buscar por numero de serie..." value="@ViewBag.Filter">
                                                            <button type="button" class="btn" style="background-color: var(--blue);" onclick="buscarActivo()">
                                                                <i class="fa fa-search" style="color: white;"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-sm-6 btn-toolbar" role="toolbar" id="toolbar">
                                                            <div class="btn-group btn-group-justified" role="group">
                                                                @* <a asp-action="Index" class="btn " style="background-color: var(--blue);"><i class="fa fa-refresh" style="color: white;"></i></a> *@
                                                                <a asp-controller="EmpleadoActivo" asp-action="Create" asp-route-id="1" asp-route-idEmpleado="@ViewBag.CurrentIdEmpleado" class="btn " style="background-color: var(--blue);"><i class="fa fa-plus" style="color: white;"></i></a>
                                                                <a asp-controller="EmpleadoActivo" asp-action="Download"  class="btn " style="background-color: var(--blue);"
                                                                   asp-route-id="@ViewBag.CurrentIdEmpleado"
                                                                   asp-route-filter="@ViewBag.Filter"
                                                                ><i class="fa fa-file-excel-o" style="color: white;"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="resultados" class="table-responsive table-striped table-sm">
                                <table id="table" cellspacing="0" class="table table-striped projects" data-toggle="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-sortable="true">No.</th>
                                            <th></th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Model)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.NumeroSerie)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IdProductoNavigation)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Estado)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Cantidad)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.PrecioEstimado)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.FechaAsignacion)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Descripcion)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Activo)
                                            </th>
                                           

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int count = (pager.CurrentPage * pager.PageSize) - pager.PageSize;
                                        }
                                         @if (Model.Any())
                                        {
                                            @foreach (var item in Model)
                                            {
                                                count = (count + 1);
                                                <tr>
                                                    <th scope="row">@count</th>
                                                    <td>
                                                        <div class="btn-group btn-group-sm" role="group" style="font-size: 12px; padding: 4px;">                                                      
                                                            <a id="editButton" asp-controller="EmpleadoActivo" asp-action="Edit" class="btn " asp-route-numero="1" style="background-color: var(--blue)" asp-route-id="@item.IdEmpleadoActivo"><i class="fa fa-pencil" style="color: white;"></i></a>
                                                            @* <a asp-controller="EmpleadoActivo" asp-action="Details" class="btn " style="background-color: var(--blue)" asp-route-id="@item.IdEmpleadoActivo"><i class="fa fa-address-card-o" style="color: white;"></i></a> *@
                                                            <a asp-controller="EmpleadoActivo" asp-action="Delete" asp-route-numero="1" class="btn " style="background-color: var(--blue)" asp-route-id="@item.IdEmpleadoActivo"><i class="fa fa-trash-o" style="color: white;"></i></a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Model)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NumeroSerie)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.NombreCompleto)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IdProductoNavigation.NombreProducto)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Estado)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PrecioEstimado)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FechaAsignacion)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                                    </td>
                                                    <td>
                                                        @* @Html.DisplayFor(modelItem => item.Activo) *@
                                                        @if (item.Activo)
                                                        {
                                                            <span class="badge badge-success">Activo</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-danger">Inactivo</span>
                                                        }

                                                    </td>
                                                

                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="13" class="text-center">No hay datos</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <partial name="_Pager" model="@pager" />
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<script>
    function buscarActivo() {
        console.log("Ejecutando buscarContacto()");
        var filter = $('#filterInputActivo').val();
        var idEmpleado = $('#hiddenEmpleadoId').val();

        if (!idEmpleado) {
            toastr.warning('Empleado no identificado.');
            return;
        }

        var url = `/Empleado/LoadEmpleado?id=${idEmpleado}&filter=${encodeURIComponent(filter)}`;
        $.get(url, function (data) {
            $('#custom-tabs-two-Empleado').html(data);
        }).fail(function () {
            toastr.error('Error al cargar los contactos filtrados.');
        });
    }

    function paginarActivo(pagina) {
        var idEmpleado = $('#hiddenEmpleadoId').val();
        var filtro = $('#filterInputActivo').val();

        $.get(`/Empleado/LoadEmpleado?id=${idEmpleado}&filter=${encodeURIComponent(filtro)}&pg=${pagina}`, function (data) {
            $('#custom-tabs-two-Empleado').html(data);
        });
    }



</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        // <script>
        //     $(document).ready(function () {
        //         var url = $("#liMenuDinamico");
        //         var $table = $('#table');
        //         $.ajax({
        //             url: "Empleado/ObtenerMenuDinamico",
        //             type: "GET",
        //             success: function (data) {
        //                 $("#liMenuDinamico").html(data);
        //             },
        //             error: function () {
        //                 console.error("Error al cargar el menú dinámico");
        //             }
        //         });
        //     });

        //     // $(document).ready(function () {
        //     //     $('#btnBuscar').on('click', function () {
        //     //         // Obtiene el valor del campo de entrada
        //     //         var filtro = $('#inNombre').val();
        //     //         var idEmpleado = '@ViewBag.IdEmpleado'; // Obtener el id desde ViewBag

        //     //         // Realiza la solicitud AJAX
        //     //         $.ajax({
        //     //             url: '@Url.Action("loadContacto", "Empleado")',
        //     //             method: 'POST',
        //     //             data: { filter: filtro, id: idEmpleado }, 
        //     //             success: function (response) {
                            
        //     //                 console.log(response);
        //     //             },
        //     //             error: function (xhr, status, error) {
                            
        //     //                 console.error(error);
        //     //             }
        //     //         });
        //     //     });
        //     // });
        // </script>
    }
}