@model PlanillaPM.Models.Ingreso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Detalle de Pago</h3>
        </div>
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div class="form-group row">
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.NombreIngreso)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.NombreIngreso)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.TipoIngreso)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.TipoIngreso)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.TipoCalculo)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.TipoCalculo)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Monto)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Monto)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Formula)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Formula)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Grabable)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Grabable)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.AsignacionAutomatica)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.AsignacionAutomatica)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Orden)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Orden)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Activo)</label>
                                </div>
                                <div class="col-md-8">
                                         @Html.DisplayFor(model => model.Activo)
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaCreacion)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaCreacion)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaModificacion)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaModificacion)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.CreadoPor)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.CreadoPor)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.ModificadoPor)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.ModificadoPor)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaInicial)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaInicial)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.FechaFinal)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.FechaFinal)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                                <div class="col-md-2">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Periodo)</label>
                                </div>
                                <div class="col-md-8">
                                    <input  type="text" class="form-control" disabled value="@Html.DisplayFor(model => model.Periodo)"/>
                                </div>
                       </div> 
                        <div class="form-group row">
                       </div> 
                        <div class="form-group row">
                       </div> 
                        <div class="form-group row">
                       </div> 
                </div>
            </div>
        </div>
         <div class="card-footer">
             <a asp-action="Edit" asp-route-id="@Model.IdIngreso" type="submit" class="btn btn-primary" style="background-color: var(--blue);">Editar</a>
             <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
          </div>
    </div>
</div>

