@model IEnumerable<PlanillaPM.Models.EmpleadoContrato>
@using PlanillaPM.Models;

@{
    ViewData["Title"] = "_EmpleadoContratoIndex";
    Pager pager = new Pager();
    int PageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        PageNo = pager.CurrentPage;
    }
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="">
                <div class="card-header" >
                    <h3 class="card-title">Empleado Contrato</h3>
                    <div class="card-tools">
                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-vertical">
                                    <div class="row m-1">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <form id="fSearch" method="post" asp-action="Index">
                                                    <div class="row">
                                                        <div class="col-sm-6 btn-group btn-group-justified" role="group">
                                                            <input type="text" style="width: 300px;" id="inNombre" class="form-control" name="filter" placeholder="Buscar...">
                                                            <button class="btn " style="background-color: var(--blue)" type="submit" class="btn btn-info"><i class="fa fa-search" style="color: white;"></i></button>
                                                        </div>
                                                        <div class="col-sm-6 btn-toolbar" role="toolbar" id="toolbar">
                                                            <div class="btn-group btn-group-justified" role="group">
                                                                @* <a asp-action="Index" class="btn " style="background-color: var(--blue);"><i class="fa fa-refresh" style="color: white;"></i></a> *@
                                                                <a asp-controller="EmpleadoContrato" asp-action="Create" asp-route-id="1" class="btn " style="background-color: var(--blue);"><i class="fa fa-plus" style="color: white;"></i></a>
                                                                <a asp-controller="EmpleadoContrato" asp-action="Download" asp-route-id="@ViewBag.idEmpleado" class="btn " style="background-color: var(--blue);"><i class="fa fa-file-excel-o" style="color: white;"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="resultados" class="table-responsive table-striped table-sm">
                                <table id="table" cellspacing="0" class="table table-striped projects" data-toggle="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th data-sortable="true">No.</th>
                                            <th></th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.CodigoContrato)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.IdTipoContrato)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Estado)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.VigenciaMeses)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.FechaInicio)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.FechaFin)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Salario)
                                            </th>
                                            <th data-sortable="true">
                                                @Html.DisplayNameFor(model => model.Descripcion)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Activo)
                                            </th>
                                           
                                            <th>
                                                @Html.DisplayNameFor(model => model.IdCargo)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int count = (pager.CurrentPage * pager.PageSize) - pager.PageSize;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            count = (count + 1);
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>
                                                    <div class="btn-group btn-group-sm" role="group" style="font-size: 12px; padding: 4px;">
                                                        <a asp-controller="EmpleadoContrato" asp-action="Edit" asp-route-numero="1" class="btn " style="background-color: var(--blue)" asp-route-id="@item.IdEmpleadoContrato"><i class="fa fa-pencil" style="color: white;"></i></a>
                                                        <a asp-controller="EmpleadoContrato" asp-action="Delete" asp-route-numero="1" class="btn " style="background-color: var(--blue)" asp-route-id="@item.IdEmpleadoContrato"><i class="fa fa-trash-o" style="color: white;"></i></a>
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CodigoContrato)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IdTipoContratoNavigation.NombreTipoContrato)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Estado)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VigenciaMeses)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FechaInicio)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FechaFin)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Salario)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                                </td>
                                                <td>
                                                    @* @Html.DisplayFor(modelItem => item.Activo) *@
                                                    @if (item.Activo)
                                                    {
                                                        <span class="badge badge-success">Activo</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="badge badge-danger">Inactivo</span>
                                                    }

                                                </td>
                                               
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IdCargoNavigation.NombreCargo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.NombreCompleto)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <br />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {
                var url = $("#liMenuDinamico");
                var $table = $('#table');
                $.ajax({
                    url: "Empleado/ObtenerMenuDinamico",
                    type: "GET",
                    success: function (data) {
                        $("#liMenuDinamico").html(data);
                    },
                    error: function () {
                        console.error("Error al cargar el menú dinámico");
                    }
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                var mensaje = '@Html.Raw(TempData["mensaje"])';
                if (mensaje) {
                    toastr.success(mensaje);
                }

                var error = '@Html.Raw(TempData["Error"])';
                if (error) {
                    toastr.error(error);
                }
            });
        </script>
    }
}