@model PlanillaPM.ViewModel.EmpleadoViewModel

<div class="form">

    <div class="row m-auto">
        <div class="info-box">
            <div class="col-auto">
                <a asp-action="Index" asp-controller="Empleado" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="col-auto">
                <img alt="Avatar" height="50px" width="50px" class="table-avatar" src="@Model.EmpleadoSeleccionado.FotografiaBase64">
            </div>
            <div class="col-auto">
                <input type="hidden" id="idEmpleado" name="idEmpleado" value="@(ViewBag.IdEmpleado ?? "")" />
                <span id="nombreEmpleado" class="label label-info">@(ViewBag.NombreEmpleado ?? "Seleccionar Empleado")</span>
            </div>
            <div class="col-auto">
            </div>
            <div class="col-auto">
                <select id="employeeSelect" name="id" class="form-control mr-sm-2 select2bs4 btn-outline-success" style="width:300px;">
                    <option value="0">Seleccionar Empleado</option>
                    @foreach (var item in Model.Empleados)
                    {
                        <option value="@item.IdEmpleado">@item.NombreCompleto</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <input type="hidden" id="HiddenidEmpleado" name="idEmpleado" value="" />
                <a id="cargarLink" href="@Url.Action("FichaEmpleado", new { id = 0 })" class="btn btn-outline-success my-2 my-sm-0" href="#">Cargar</a>
            </div>
        </div>
    </div>
</div>
