@model PlanillaPM.ViewModel.EmpleadoViewModel


@{
    ViewData["Title"] = "Empleado";
   
}

<nav class="navbar navbar-expand navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav d-flex align-items-center justify-content-center">
        <li class="nav-item mr-3">
            <a style="background-color: var(--blue);"  class="btn btn-primary" asp-action="Index" asp-controller="Empleado"><i class="fa-solid fa-arrow-left"></i></a>
        </li>
        
        <li class="nav-item d-none d-sm-inline-block mr-3">
            <div class="alert alert-success" style="width: 250px; height: 40px; display: flex; align-items: center; margin: auto;">
                <img alt="Avatar" class="table-avatar rounded-circle" src="@Model.EmpleadoSeleccionado.FotografiaBase64" style="height: 30px; width: 30px;">
                <div class="vr" style="margin: 0 10px; width: 2px;"></div>
                <input type="hidden" id="idEmpleado" name="idEmpleado" value="@(ViewBag.IdEmpleado ?? "")" />
                <span id="nombreEmpleado" class="label label-info " style="max-width: 250px;">@(ViewBag.NombreEmpleado ?? "Seleccionar Empleado")</span>
            </div>

        </li>
 
    <div class="d-flex justify-content-between">
        <li class="nav-item d-none d-sm-inline-block mr-3">
            <div class="d-flex justify-content-between">
                <select id="employeeSelect" name="id" class="form-control mr-sm-2 select2bs4 btn-outline-success" style="width: 250px;">
                    <option value="0">Seleccionar Empleado</option>
                        @foreach (var item in Model.Empleados)
                        {
                        <option value="@item.IdEmpleado">@item.NombreCompleto</option>
                        }
                </select>
                <a id="cargarLink" href="@Url.Action("FichaEmpleado", new { id = 0 })" style="background-color: var(--blue);" class="btn btn-primary mx-0 my-sm-0" href="#"> <i class="fas fa-search mx-2"></i>Cargar</a>
            </div>

        </li>
       
    </div>

   


    </ul>


    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" data-target="#navbar-search1" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block" id="navbar-search1">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

       
    </ul>
</nav>

<br />