@model PlanillaPM.Models.Pager;
@{
}
<style>
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: var(--blue);
        border-color: var(--blue);
    }
</style>
<div class="">
    <div class="row">
        <div class="col justify-content-start">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" style="background-color: var(--blue); color:var(--white)"> <span>Total de Registros: </span>@Model.TotalItems</a>
                </li>
            </ul>
        </div>
        <div class="col justify-content-end">
            <ul class="pagination justify-content-end">
                @if (Model.TotalPages > 0)
                {
                    @if (Model.CurrentPage >= 1)
                    {
                        <li class="page-item">
                            <a class="page-link" action="Index" asp-route-pg="1">Inicio</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" action="Index" asp-route-pg="@(Model.CurrentPage-1)"><i class="fa fa-arrow-left"></i></a>
                        </li>
                    }
                    @for (var pge = Model.StartPage; pge < Model.EndPage; pge++)
                    {
                        <li class="page-item @(pge == Model.CurrentPage ?  "active" :"")">
                            <a class="page-link" action="Index" asp-route-pg="@pge">@pge</a>
                        </li>
                    }
                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" action="Index" asp-route-pg="@(Model.CurrentPage+1)"><i class="fa fa-arrow-right"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" action="Index" asp-route-pg="@(Model.TotalPages)">Fin</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>